:root {
  --card-height: 400px;
  --card-width: calc(var(--card-height) / 1.5);
}

.card-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2d112b;
}
.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 1em;
  perspective: 2500px;
  margin: 0 2em;
}
.cover-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 25px;
}
.card-wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
  border-radius: 25px;
}
.card:hover .card-wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
.card-wrapper::before,
.card-wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.card:hover .card-wrapper::before,
.card-wrapper::after {
  opacity: 1;
}
.card:hover .card-wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}
.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}
.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}